#menu {
    float: right;
    margin-top: 30px;
    margin-right: 20px;
    text-align: right;
    width: 150px;
    font-family: "Myriad Pro", "Helvetica Neue", Helvetica;
  }

#menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#menu li a {
  display: inline-block;
  color: #0864c7;
}

#left {
  height: 1px;
  float: left;
  display: block;
  min-width: 0;
  overflow: hidden;
  width: 200px;
  margin: 0;
  padding: 0;
}

#content {
  margin-top: 15px;
  float: left;
  width: 500px;
}

#content h1, #content h2, #content h3 {
  font-family: "Myriad Pro", "Helvetica Neue", Helvetica;
  margin: 0;
}

#content h2 {
  margin-top: 2em;
}

#content .byline, #content .byline a, #content .note {
  font-size: 10px;
  color: #aaa;
}

#content p, #content ul {
  color: #333;
  line-height: 18px;
}

#content li {
  margin-bottom: 0.7em;
}