#menu {
    float: right;
    margin-top: 30px;
    margin-right: 20px;
    text-align: right;
    width: 150px;
    font-family: "Myriad Pro", "Helvetica Neue", Helvetica;
  }

#menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#menu li a {
  display: inline-block;
  color: #0864c7;
}