<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/favicon.ico" type="image/png">
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <title>Books · Tyler Tarsi</title>
</head>
<body>
  <div id="nav-placeholder"></div>
  <script>
    $(function(){
      $("#nav-placeholder").load("/templates/nav.html");
    });
  </script>
  <div id="left">&nbsp;</div>
  <div id="content">
    <p>The next 5 books I plan to read:</p>
    <ul>
      <li>Finite and Infinite Games</li>
      <li>Godel, Escher, Bach</li>
      <li>Modern Poker Theory</li>
      <li>Probabilistic Reasoning in Intelligent Systems</li>
      <li>tbd</li>
    </ul>
    <p>The last 5 books I read:</p>
    <ul>
      <li>A Deepness in the Sky</li>
      <li>The Fall</li>
      <li>Dune</li>
      <li>The Gambler</li>
      <li>Snow Crash</li>
    </ul>
    <p>Feel free to reach out if you're interested in chatting about any of these</p>
  </div>
</body>
</html>
